/*!
 * Start Bootstrap - Blog Home HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    font-family: 'Montserrat',sans-serif;
    background-color: #151515;
    color: white;
}
footer {
    margin: 50px 0;
}
.well{
    background-color: #252525;
}
.form-control{
    background-color: #303030;
    color: white;
}
.form-control:focus{
    box-shadow: 0px 5px 20px 0px rgba(0, 255, 170, 0.356);
    border-color: rgba(0, 255, 170, 0.8);
}
.panel-body{
    background-color: #252525;
}
.btn-default{
    float: right;
    color: white;
    height: 34px;
    border-radius: 10px;
    border-color: rgba(0, 255, 170, 0.356);
    background-color:  rgba(0, 255, 170, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(0, 255, 170, 0.356);
    transition: all ease 0.2s;
}
.btn-default:hover{
    box-shadow: 0px 5px 25px 0px rgba(0, 255, 170, 0.5);
}
.btn-primary{
    top: 10px;
    position: relative;
    border-radius: 10px;
    border-color: rgba(0, 255, 170, 0.356);
    background-color:  rgba(0, 255, 170, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(0, 255, 170, 0.356);
    transition: all ease 0.2s;
}
.btn-primary:hover{
    transform: translateY(-3px);
    background-color:  rgba(0, 255, 170, 0.5);
    border-color: white;
    box-shadow: 0px 7px 20px 0px rgba(0, 255, 170, 0.5);
}
.navbar-header{
    font-weight: 600;
    color: rgba(0, 255, 170, 0.7);
}
.navbar-nav{
    float: right;
}
.container-fluid{
    background-color: #252525;
}
a{
    color: rgba(0, 255, 170, 0.7);
}
a:hover{
    color: rgba(0, 255, 170, 0.9);
}
a:checked{
    color: rgba(0, 255, 170, 0.5);
}
.lead{
    color: rgba(0, 255, 170, 0.7);
}
.navbar-fixed-top{
    box-shadow: 0px 5px 20px 0px rgba(0, 255, 170, 0.356);
}
#btn-login{
    border-radius: 10px;
    border-color: rgba(0, 255, 170, 0.356);
    background-color:  rgba(0, 255, 170, 0.5);
    box-shadow: 0px 5px 20px 0px rgba(0, 255, 170, 0.356);
    transition: all ease 0.2s;
}
#btn-login:hover{
    transform: translateY(-3px);
    background-color:  rgba(0, 255, 170, 0.5);
    border-color: white;
    color: white;
    box-shadow: 0px 7px 20px 0px rgba(0, 255, 170, 0.5);
}
.pagina{
    background-color: #252525;
    color: rgba(0, 255, 170, 0.5);
}